/* Define los colores primarios */
:root {
    --color-violeta: hsl(0, 0%, 100%);

}

/* Define los estilos de cuerpo */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/fondo.svg);
}

.contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img {
    width: 60%;
}

img {
    width: 90%;
    padding: 3% 8%;

}
.datos{
    width: 40%;
    padding: 3%;
}

/* Define los estilos de botón */
h1 {
    color: white;
    padding: 4% 1% 2% 5%;
}

h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 52px;

color: #FFFFFF;

mix-blend-mode: screen;
}

p {
    color: white;
}

/* Define los estilos de botón */
button {
    background-color: var(--color-violeta);
    color: #E882E8;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: #E882E8;
    color:#FFFFFF;
}
.iconos{
    display: flex;
    padding: 0% 5%;
    justify-content: flex-end;
}
.iconos i{
    margin: 0% 1% 3% 1%;
    font-size: 50px;
    color: #FFFFFF;

}
.iconos i:hover{
    color:#E882E8;
}
@media screen and (min-width:375px){
    .contenido {
        display: flex;
        flex-direction: column;
    } 
    h2 {
    
    font-size: 23px;

    }
    .datos{
        width: 100%;
        padding: 3%;
        text-align: center;
    }
    .iconos i{
        margin: 0% 1% 3% 1%;
        font-size: 25px;
       
        
    }
    .iconos{
        display: flex;
        padding: 0% 5%;
        justify-content: center;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        background-color: hsl(257, 40%, 49%);
        background-image: url(images/bg-mobile.svg);
    }

}